h1{
    text-align: center;
}
ul {
    text-align: center;
}
body{
    font-family: Arial;
    margin: 20px;
}
li {
    list-style-type: none;
    padding: 5px;
}
h2 {
    margin-top: 5px;
}
p{
    padding: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#menulist {
    padding-top: 5px;
    padding-left: 5px;
}
#menulist li{
    display:inline;
    list-style-type: none;
    padding-right: 20px;
}
#menu {
    height: 30px;
    background-color: #555555;
}

.Collage{
    padding: 10px;
    height: 600px;
}

.Caption{
    font-size: 14px;
    font-family: arial;
}
.Caption_Content{
    color:#FFF;
    padding: 20px;
}
.Image_Wrapper{
    /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
    opacity:0;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.footer{
    position: bottom;
}
